[Unit]
Description=My Yolo Trap
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/steve/yolo-trap-py
Restart=on-failure
User=steve
ExecStart=/home/steve/yolo-trap-py/start.sh
Group=steve

[Install]
WantedBy=multi-user.target
